<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Send Mail</h2>
    <form [formGroup]="mailForm" (ngSubmit)="onSendMail()">
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" id="title" formControlName="subject">
      </div>

      <div class="form-group">
        <label for="text">Text</label>
        <textarea type="text" class="form-control" id="author" formControlName="text"></textarea>
      </div>

      <div class="form-group">
        <h4>Add Attachements</h4>
        <input type="file" class="form-control" (change)="detectFile($event)" accept="*">
        <p class="text-success" *ngIf="fileUploaded">File uploaded !</p>
      </div>

      <button class="btn btn-success" type="submit"
              [disabled]="mailForm.invalid || fileIsUploading">
              Send
      </button>
    </form>
  </div>
</div>
